@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --bleu: 118, 141, 233;
        --blanc: 240, 235, 229;
        --noir: 41, 43, 39;
        --vert: 187, 222, 87;
    }
}

body {
    font-family: "Roboto", sans-serif;
}


@layer components {
    h5 {
        @apply text-4xl font-medium mx-auto w-fit mb-10 text-noir relative z-10
    }

    section {
        @apply py-20
    }



    /* underline hover animation */
    .underline-hover {
        @apply relative after:absolute after:w-full after:scale-x-0 after:h-[1px] after:bottom-0 after:left-0 after:z-[-1] after:bg-current after:transition-transform after:duration-300 after:origin-right hover:after:scale-x-100 hover:after:origin-left;
    }



    .swiper {
        @apply w-10/12 mx-auto max-w-screen-2xl
    }

    .technos-container:has(.techno:hover) > :not(:hover) {
        @apply md:opacity-50
    }

    .techno:first-of-type img {
        @apply brightness-[6.5]
    }



    .contact-div {
        @apply bg-white w-80 flex items-center gap-4 p-3 max-w-[85vw] text-noir font-semibold
    }

    .contact-div svg {
        @apply h-10 text-noir
    }

}
